body
{
	font-family: 'Share Tech Mono', monospace;
	background-color: #202020;
	color: #f2f2f2;
}

h1#logo
{
	font-size: 50px;
	font-weight: 400;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.container
{
	width: 450px;
	margin-right: auto;
	margin-left: auto;
}

input[type=text]
{
	width: 100%;
	margin-bottom: 20px;
	height: 30px;
	background: transparent;
	border: none;
	color: #f2f2f2;
	font-family: 'Share Tech Mono', monospace;
	font-size: 18px;
	text-align: center;
	border-bottom: 1px solid #f2f2f2;
	outline: none;
}

button
{
	background-color: #a71212;
	border: none;
	width: 100%;
	padding: 8px;
}